@import url('https://fonts.googleapis.com/css2?family=balsamiq+Sans:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Balsamic Sans';
    
}
header{
    text-align: center;
    background: #000;
    color: #fff;
    padding: 10px 0;
    background-image: url(./OIP.jpg);
    background-repeat: no-repeat;
}
.coteiner {
    max-width: 700px;
    margin: auto;
    padding: 20px;
}
section {
    border: 2px solid #2be444;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
}
label{
    display: block;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px dashed #ccc;
    margin-bottom: 3px;
}
label:hover{
    background: #71d37e;
}
button{
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
    background-color: rgb(19, 124, 66);
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
button:hover{
    background: #000;
    color:#2bdd84 ;
}
h2{
    text-align: center;
}
#resultado{
    font-size: 30px;
    color: darkred;
}